/* write your custom css here */
.content-wrapper {
    /* margin-top: 165px !important; */
    /* position: relative; */
    margin-top: calc(10em + 1vh);
}

.set-width {
    min-width: 53rem;
}

.keep-open {
    display: block;
}

.create-stock-level-table, 
.create-stock-level-table td select,
.create-stock-level-table td input {
    font-size: .9em;
}

.createNewBrandOrSupplier, .dropdown-stocklevel-index {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
    .content-wrapper {
            margin-top: calc(5em + 1vh);
        }
}

@media only screen and (max-width: 914px) and (min-width: 412px) {
    .content-wrapper {
        margin-top: 90px;
    }
}

@media only screen and (max-width: 822px) and (min-width: 344px) {
    .content-wrapper {
        margin-top: 90px;
    }
}

@media only screen and (max-width: 1170px) and (min-width: 670px) {
    .content-wrapper {
        margin-top: 90px;
    }

    .set-width {
        min-width: 40.3rem;
    }
}
