/* write your custom css here */
.content-wrapper {
    /* margin-top: 165px !important; */
    /* position: relative; */
    margin-top: calc(10em + 1vh);
}

.set-width {
    min-width: 53rem;
}

.keep-open {
    display: block;
}

.create-stock-level-table, 
.create-stock-level-table td select,
.create-stock-level-table td input {
    font-size: .9em;
}

.createNewBrandOrSupplier {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
    .content-wrapper {
            margin-top: calc(5em + 1vh);
        }
}

@media only screen and (max-width: 914px) and (min-width: 412px) {
    .content-wrapper {
        margin-top: 90px;
    }
}

@media only screen and (max-width: 822px) and (min-width: 344px) {
    .content-wrapper {
        margin-top: 90px;
    }
}

@media only screen and (max-width: 1170px) and (min-width: 670px) {
    .content-wrapper {
        margin-top: 90px;
    }

    .set-width {
        min-width: 40.3rem;
    }
}
